.profile-image {
  margin: 25px;
  height: 85%;
  width: 85%;
}

.panel-body {
  padding: 0 25px;
}

.panel-footer {
  padding: 10px 15px;
  background: #FFF;
  border-top: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
